<div class="container">
    <div class="row">
        <div class="col-md-12">
            
        </div>
    </div>
    
</div>



<div class="container">
    <h1 class="mt-4">Resultados Lingarditos</h1>
    <div class="row mt-3 mb-2">
        <div class="col-md-12">
            <select class="form-select w-20" #jornada (change)="onChange(jornada.value)">
                <option selected> Selecciona una jornada para ver los resultados </option>                
                <option *ngFor="let jornada of jornadas" value="{{jornada.id}}">{{jornada.titulo}}</option>
            </select>
        </div>
    </div>
    <h3 class="mt-2" *ngIf="votos">Votos totales: {{votos}}</h3>
    <div class="row " *ngFor="let resultado of resultados">
        <div class="col-md-4"></div>
        <div class="col-md-4 mt-5">
            <div style="display: block; ">
                <p>{{resultado.player}}</p>
            <canvas  mdbChart
              [chartType]="chartType"
              [datasets]="resultado.data"
              [labels]="resultado.labels"
              [colors]="resultado.config"
              [options]="chartOptions"
              [legend]="true"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
            </canvas>
          </div>
          <hr>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

      
        
            
        
    
